@page
@model AutomatedWorkplaceCarService.Pages.Clients.ApplicationsModel
@{
	ViewData["Title"] = "Заявки";
}

<div class="row justify-content-center">
	<div class="col">
		<h1>Заявки</h1>
	</div>
	<div class="col text-end">
		<a class="btn btn-primary btn-lg" asp-page="/Clients/CreateApplication">Создать заявку</a>
	</div>
</div>
<div class="row justify-content-center">
	@foreach(var application in Model.Applications)
	{
		<div class="col-12 col-sm-6 col-lg-6">
			<div class="card-deck">
				<div class="card m-3">
					<div class="card-header text-center cardHeaderStyle">
						<h3>@application.ServiceName</h3>
					</div>
					<div class="text-center cardBodyStyle">
						<img class="card-image-top imageThumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(application.ImageCarContent))" asp-append-version="true" />
					</div>
					<div class="card-body">
						<p class="card-text">
							Автомобиль: @application.BrandName @application.ModelName <br/>
							Статус заявки:  @application.StageName
						</p>
					</div>
					<div class="card-footer text-center">
						<a asp-page="/Clients/Application" asp-route-Id="@application.Id" class="btn btn-success m-1 buttonShadow">View</a>
						<a asp-page="/Employees/Delete" asp-route-Id="@application.Id" class="btn btn-danger m-1 buttonShadow">Delete</a>
					</div>
				</div>
			</div>
		</div>
	}
	
</div>