@page
@model AutomatedWorkplaceCarService.Pages.Clients.CarsModel
@{
	ViewData["Title"] = "Автомобили";
}
<form method="get" class="mt-2 mb-3">
	<div class="input-group">
		<input asp-for="SearchTerm" class="form-control me-2" type="search" placeholder="Бренд, модель, сервис...">
		<div class="input-group-append">
			<button type="submit" class="btn btn-outline-primary">Поиск</button>
		</div>
	</div>
</form>
<div class="row justify-content-center">
	<div class="col">
		<h1>Ваши автомобили</h1>
	</div>
	<div class="col text-end">
		<a class="btn btn-primary btn-lg" asp-page="/Clients/CreateCar">Добавить автомобиль</a>
	</div>
</div>
<div class="row justify-content-center">
	@foreach(var car in Model.Cars)
	{
		<div class="col-12 col-sm-6 col-lg-6">
			<div class="card-deck">
				<div class="card m-3">
					<div class="card-header text-center cardHeaderStyle">
						<h3>@car.Brand.Name @car.Model.Name</h3>
					</div>
					<div class="text-center cardBodyStyle">
						@if(@car.Images != null)
						{
							@if(@car.Images.Count > 0)
							{
								<img class="card-image-top imageThumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(car.Images[0].Content))" asp-append-version="true" />
							}
							else
							{
								<img class="card-image-top imageThumbnail" src="" alt="Фото авто" asp-append-version="true" />
							}
						}
					</div>
					<div class="card-body">
						<p class="card-text">
							Тип трансмиссии: @car.Transmission.Name<br/>
							Год выпуска: @car.YearOfRelease г.<br/>
							Мощность двигателя: @car.EnginePower л/c<br/>
						</p>
					</div>
					<div class="card-footer text-center">
						<a asp-page="/Clients/DeleteCar" asp-route-Id="@car.Id" class="btn btn-danger m-1">Удалить</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>

