@page
@model AutomatedWorkplaceCarService.WEB.Pages.Employees.Admin.CarsModel
@{
	ViewData["Title"] = "Автомобили";
}
<div class="row">
	<h1>Автомобили</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Бренд</th>
				<th scope="col">Модель</th>
				<th scope="col">Тип трансмисии</th>
				<th scope="col">Мощность двигателя (л/с)</th>
				<th scope="col"># Клиента</th>
				<th scope="col">Клиент</th>
				<th scope="col">Кол-во заявок</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@if(Model.Cars != null){
				@foreach (var item in Model.Cars)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Brand.Name</td>
						<td>@item.Model.Name</td>
						<td>@item.Transmission.Name</td>
						<td>@item.EnginePower</td>
						<td>@item.OwnerId</td>
						<td>@item.Owner.Surname @item.Owner.Name @item.Owner.Patronymic</td>
						<td>@item.Applications.Count</td>
						<td>
							<a class="btn btn-danger" asp-route-id="@item.Id" asp-page="/Employees/Admin/DeleteCar">Удаление</a>
						</td>
					</tr>
				} 
			}
		</tbody>
	</table>
	<a class="btn btn-primary" asp-page="/Employees/Admin/CreateCar">Добавить</a>
</div>