@page
@model AutomatedWorkplaceCarService.WEB.Pages.Users.Employees.Admin.ClientsModel
@{
	ViewData["Title"] = "Клиенты";
}
<div class="row">
	<h1>Клиенты</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">ФИО</th>
				<th scope="col">Логин</th>
				<th scope="col">Пароль</th>
				<th scope="col">Мобильный телефон</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@if(Model.Clients != null){
				@foreach (var item in Model.Clients)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Surname @item.Name @item.Patronymic</td>
						<td>@item.Login</td>
						<td>@item.Password</td>
						<td>@item.MobilePhone</td>
						<td>
							<a class="btn btn-primary" asp-route-id="@item.Id" asp-page="/Employees/Admin/EditClient">Изменение</a>
						</td>
						<td>
							<a class="btn btn-danger" asp-route-id="@item.Id" asp-page="/Employees/Admin/DeleteClient">Удаление</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
	<a class="btn btn-primary" asp-page="/Employees/Admin/EditClient">Добавить</a>
</div>