@page "{id}"
@model AutomatedWorkplaceCarService.WEB.Pages.Employees.Admin.DeleteApplicationModel
@{
	ViewData["Title"] = "Удаление заявки"; 
}
<h1 class="text-center mb-3">Подтверждение удаления заявки</h1>
<div class="alert alert-danger">
	<div class="row">
		<div class="col-12 col-md-6 col-xl-4 offset-sm-0 offset-md-3 offset-xl-4">
			<div class="text-center text-secondary">
				<h4>Индивидуальный номер: <span class="text-primary">@Model.Application.Id</span></h4><hr />
				<h4>ФИО клиента: <span class="text-primary">@Model.Application.Client.Surname @Model.Application.Client.Name @Model.Application.Client.Patronymic</span></h4><hr />
				<h4>Aвтомобиль: <span class="text-primary">@Model.Application.Car.Brand.Name @Model.Application.Car.Model.Name</span></h4><hr />
				<h4>Услуга: <span class="text-primary">@Model.Application.Service.Name</span></h4><hr />
				<h4>ФИО мастера: <span class="text-primary">@Model.Application.Employee.Surname @Model.Application.Employee.Name @Model.Application.Employee.Patronymic</span></h4><hr />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<h5>Вы уверены, что хотите удалить заявку?</h5>
			<form method="post">
				<button type="submit" class="btn btn-danger">Да</button>
				<a class="btn btn-success" asp-page="/Employees/Admin/Applications">Нет</a>
			</form>
		</div>
	</div>
</div>
