@page
@model AutomatedWorkplaceCarService.WEB.Pages.Employees.Admin.EditEmployeeModel
@{
	var pageTitle = Model.Employee.Id > 0 ? "Изменение данных сотрудника" : "Добавление сотрудника";
	var method = Model.Employee.Id > 0 ? "Изменить" : "Добавить";
    ViewData["Title"] = pageTitle;
}
<form method="post">
	<div class="row justify-content-center mt-3">
		<div class="col col-sm-8 col-lg-4">
			<h1 class="text-center fw-bold">@pageTitle</h1>
			<div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
			<input type="hidden" asp-for="Employee.Id" value="@Model.Employee.Id">
			<input type="hidden" asp-for="Employee.RoleId" value="@Model.Employee.RoleId">
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Login" class="form-control" placeholder="Логин" value="@Model.Employee.Login">
				<label>Логин <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Login" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="password" asp-for="Employee.Password" class="form-control" placeholder="Пароль" value="@Model.Employee.Password">
				<label>Пароль <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Password" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Name" class="form-control" placeholder="Имя" value="@Model.Employee.Name">
				<label>Имя <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Name" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Surname" class="form-control" placeholder="Фамилия" value="@Model.Employee.Surname">
				<label>Фамилия <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Surname" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Patronymic" class="form-control" placeholder="Отчество" value="@Model.Employee.Patronymic">
				<label>Отчество</label>
			</div>
			<select asp-for="Employee.PostId" class="form-select mt-3">
				<option selected>Выбирите должность</option>
				@foreach(var item in Model.Posts)
				{
					<option value="@item.Id">@item.Name</option>
				}
			</select>
			<div class="d-grid gap-2 mt-3">
				<button type="submit" class="btn btn-primary btn-lg">@method</button>
			</div>
		</div>
	</div>
</form>