@page
@model AutomatedWorkplaceCarService.WEB.Pages.Employees.Master.ProfileModel
@{
	ViewData["Title"] = "Профиль";
}
<form method="post">
	<div class="row justify-content-center mt-3">
		<div class="col col-sm-8 col-lg-4">
			<h1 class="text-center fw-bold">Персональные данные</h1>
			<div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
			<input type="hidden" asp-for="Employee.Id" value="@Model.Employee.Id">
			<input type="hidden" asp-for="Employee.RoleId" value="@Model.Employee.RoleId">
			<input type="hidden" asp-for="Employee.PostId" value="@Model.Employee.PostId">
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Login" class="form-control" placeholder="Логин" value="@Model.Employee.Login">
				<label>Логин <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Login" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="password" asp-for="Employee.Password" class="form-control" placeholder="Пароль" value="@Model.Employee.Password">
				<label>Пароль <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Password" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Name" class="form-control" placeholder="Имя" value="@Model.Employee.Name">
				<label>Имя <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Name" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Surname" class="form-control" placeholder="Фамилия" value="@Model.Employee.Surname">
				<label>Фамилия <span class="text-danger">*</span></label>
				<span asp-validation-for="Employee.Surname" class="text-danger"></span>
			</div>
			<div class="form-floating mt-3">
				<input type="text" asp-for="Employee.Patronymic" class="form-control" placeholder="Отчество" value="@Model.Employee.Patronymic">
				<label>Отчество</label>
			</div>
			<div class="d-grid gap-2 mt-3">
				<button type="submit" class="btn btn-primary btn-lg">Изменить</button>
			</div>
		</div>
	</div>
</form>